body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    color: white;
    background-color: black;
    font-size: 200px;
    width: 80vw;
}

.displayButtons {
    background-color: lightgrey;
}

.btn {
    width: 10vw;
}